html(leng="ru-RU")
	head
		title Главная
		meta(charset="UTF-8")
		//For SEO
		meta(name="description", content="Commpany")
		meta(name="keywords", content="Днепр купить, купить недорого, купить")
		//
		//Отображение сайта на телефонах в полный размер
		//- meta(name="viewport", content="width=device-width, initial-scale=1")
		//Картинка для отображения сайта в соц. сетях
		link(rel="stylesheet", type="text/css" href="./static/css/main.css")
		//- link(rel="stylesheet", type="text/css" href="../static/css/libs.min.css")
	body
		include ../header/header
		include ../footer/footer
		include ../content/content
		//Connection libs, scripts
		//- script(src="./static/libs")
		script(src="./static/js/common.js")
		//